device: cuda:0
note: "k60_rad256_salaTrans"
seed: 42
log_tensorboard: false
num_threads: 5


model_name: trans_sala
model_kwargs:
  pe_type: learned
  num_heads: 4
  h_dim: 16
  n_layers: 3
  num_w_per_dist: 10
  max_seq_len: 8720
  compressed: 100
  convolution: true
  conv_filter_heights: [1, 3, 5]
  vertical_stride: 1
  cluster_E: true
  cluster_F: true
  share_EF: false


loss_name: infonce
loss_kwargs:
  dist_metric: l2_rbf
  tau: 0.05


optimizer_name: adam
num_epochs: 2000
batch_size: 1
optimizer_kwargs:
  lr: 1.0e-3


lr_scheduler_name: step
lr_scheduler_kwargs:
  gamma: 0.5
  step_size: 500


data_dir: /j-jepa-vol/HEPT-Zihan/data/
dataset_name: tracking-6k
main_metric: accuracy@0.9
mode: max


